In [1]:
import json
import pandas as pd
import warnings
import json
from tqdm import tqdm
import re

In [3]:
# 데이터 불러오기
DATA_DIR = "../data/"
data_file = "for_vector_table.csv"
dataset = pd.read_csv(DATA_DIR + data_file, encoding='UTF-8')
dataset.head()

   id                                        ex_sentence
0   1  전라남도가 쌀 과잉문제를 근본적으로 해결하기 위해 올해부터 시행하는 쌀 생산조정제를...
1   1  쌀 생산조정제는 벼를 심었던 논에 벼 대신 사료작물이나 콩 등 다른 작물을 심으면 ...
2   1  논에 다른 작물 재배를 바라는 농가는 오는 22일부터 2월 28일까지 농지 소재지 ...
3   2  여수시는 원도심 일대에서 추진된 컬러빌리지 사업을 지난해 말 마무리하며 색채와 빛의...
4   2  컬러빌리지는 색채를 이용한 경관개선사업으로 사업완료에 따라 고소천사벽화마을과 자산마...

In [6]:
dataset.tail()

            id                                        ex_sentence
731926  243976  아산시는 지난 25일 시청 상황실에서 (가칭)재활헬스케어힐링스파산업진흥원(이하 진흥...
731927  243976  시는 지난 5월 산업부 스마트특성화기반구축사업 적합사업으로 선정된 힐링스파 기반 재...
731928  243977  입시 전문 재수기숙학원 용인비상에듀기숙학원이 2021학년도 수능을 준비하는 고교 졸...
731929  243977  1차 개강(12월 15일~12월 31일) 2주간은 국어,영어, 수학을 집중 학습하고...
731930  243977  한편, 용인비상에듀는 태화산 끝자락에 위치한 1만여 평 규모의 기숙학원으로 천연 잔...